
<div class="container">

    <h1>Account</h1>

  <%= simple_form_for @cleaner do |f| %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :address %>
  <%= f.input :radius, collection: 5..40 %>
  <%= f.input :phone_number %>

  <% end %>
</div>


