
<div class="container">

    <h1 style="text-align: center;">Account</h1>

  <%= simple_form_for @cleaner do |f| %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :address %>
  <%= f.input :radius, collection: 5..40, required: false %>
  <%= f.input :phone_number %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Submit", class: "btn-main" %>
  <% end %>
</div>


