<% if current_user.registration.user_type == "Cleaner"%>
<h1>Cleaner Dashboard</h1>
<h3>Hi <%= current_user.first_name %>!</h3>
<% @bookings.each do |booking| %>
<ul>
  <li>Client: <%= booking.client.first_name %> <%= booking.client.last_name %></li>
  <li>Date: <%= booking.date %></li>
  <li>Location: <%= booking.address %></li>
  <li>Income: €<%= booking.total_price %></li>
</ul>
<% end %>


<% elsif current_user.registration.user_type == "Client"%>
<div class="banner-dashboard">
<h1>Client Dashboard</h1>
</div>
<h3>Hi <%= current_user.first_name %>!</h3>
<% @bookings.each do |booking| %>
<ul>
  <li>Your cleaner will be <%= booking.cleaner.first_name %></li>
  <li>Date: <%= booking.date %></li>
  <li>Duration: <%= minute_to_hours(booking.total_duration)%></li>
  <li>Location: <%= booking.address %></li>
  <% if booking.status %>
  <li>Payment confirmed</li>
  <% else %>
  <li>Payment pending</li>
  <% end %>
  <li>Price: €<%= booking.total_price %></li>
</ul>
<% end %>
<% end %>


