<div class="container">
  <div class="banner-dashboard" style="background-image: url(<%= image_path 'user-dashboard-bg.png' %>);">
    <h1>Dashboard</h1>
  </div>
  <h3>Hi <%= current_user.first_name %>!</h3>
  <br>
  <!-- Pending bookings -->
  <% if @bookings_pending != [] %>
  <h5 class="tags-bookings">Pending <i class="fas fa-hourglass-half"></i></h5>
  <% end %>
  <% @bookings_pending.each do |booking| %>
  <div class="card-booking">
    <div class="card-content-up">
      <ul class="list-inline">
        <li><i class="fas fa-table"></i> <%= booking.date %></li>
        <li><i class="far fa-clock"></i> <%= booking.total_duration%>h</li>
        <li><i class="fas fa-home"></i> <%= booking.address %></li>
        <% if booking.status == "confirmed" %>
        <li><i class="fas fa-lock-open"></i> Status: Confirmed</li>
        <% else %>
        <li><i class="fas fa-lock"></i> Status: Pending</li>
        <% end %>
      </ul>
    </div>
    <div class="card-content-down">
      <h5>Total</h5>
      <h5><%= humanized_money_with_symbol(booking.price)%></h5>
    </div>
    <div class="card-booking-buttons">
      <%= link_to 'CANCEL', '/', class:'btn btn-ghost-card-booking' %>
    </div>
  </div>
  <% end %>


  <!-- Confirmed bookings -->
  <h5 class="tags-bookings">Confirmed <i class="fas fa-check-circle"></i></h5>
  <% @bookings_confirmed.each do |booking| %>
  <div class="card-booking">
    <div class="card-content-up">
      <ul class="list-inline">
        <div class="photo-namecleaner">
          <% if booking.cleaner.photo.url ==  nil %>
          <%= image_tag "default-avatar.png", class: "avatar" %>
          <% else %>
          <%= cl_image_tag booking.cleaner.photo, class: "avatar" %>
          <% end %>
          <li><strong><%= booking.cleaner.first_name %></strong></li>
        </div>
        <br>
        <li><i class="fas fa-info-circle"></i> Booking ref. # <%= booking.id %></li>
        <li><i class="fas fa-table"></i> <%= booking.date %></li>
        <li><i class="far fa-clock"></i> <%= booking.total_duration%>h</li>
        <li><i class="fas fa-home"></i> <%= booking.address %></li>
        <% if booking.status %>
        <li><i class="fas fa-lock-open"></i> Status: Confirmed</li>
        <% else %>
        <li><i class="fas fa-lock"></i> Status: Pending </li>
        <% end %>
      </ul>
    </div>
    <div class="card-content-down">
      <h5>Total</h5>
      <h5><%= humanized_money_with_symbol(booking.price)%></h5>
    </div>
    <div class="card-booking-buttons">
      <%= link_to 'CANCEL', '/', class:'btn btn-ghost-card-booking' %>
    </div>
    <br>
    <br>
  </div>
  <% end %>
</div>


