<div class="container">
    <div class="banner-dashboard" style="background-image: url(<%= image_path 'user-dashboard-bg.png' %>);">
      <h1>Client Dashboard</h1>
    </div>
    <h3>Hi <%= current_user.first_name %>!</h3>

  <!-- Pending bookings -->

  <div class="card-booking">
    <% @bookings_pending.each do |booking| %>
    <div class="card-content-up">
      <ul class="list-inline">
        <li><i class="fas fa-info-circle"></i>Pending bookings</li>
        <li>Date: <%= booking.date %></li>
        <li>Duration: <%= minute_to_hours(booking.total_duration)%></li>
        <li>Location: <%= booking.address %></li>
        <% if booking.status == "confirmed" %>
        <li>Status: Confirmed <i class="fas fa-lock-open"></i></li>
        <% else %>
        <li>Status: Pending <i class="fas fa-lock"></i></li>
        <% end %>
      </ul>
    </div>
    <div class="card-content-down">
      <h5>Total</h5>
      <h5><%= humanized_money_with_symbol(booking.price)%></h5>
    </div>
    <div class="card-booking-buttons">
      <%= link_to 'CANCEL', '/', class:'btn btn-ghost-card-booking' %>
    </div>
    <% end %>
  </div>


  <!-- Confirmed bookings -->

  <div class="card-booking">
    <% @bookings_confirmed.each do |booking| %>
    <div class="card-content-up">
      <ul class="list-inline">
        <li><i class="fas fa-info-circle"></i> Booking ref. # <%= booking.id %></li>
        <li>Your cleaner will be <strong><%= booking.cleaner.first_name %></strong></li>
        <li>Date: <%= booking.date %></li>
        <li>Duration: <%= minute_to_hours(booking.total_duration)%></li>
        <li>Location: <%= booking.address %></li>
        <% if booking.status %>
        <li>Status: Confirmed <i class="fas fa-lock-open"></i></li>
        <% else %>
        <li>Status: Pending <i class="fas fa-lock"></i></li>
        <% end %>
      </ul>
    </div>
    <div class="card-content-down">
      <h5>Total</h5>
      <h5><%= humanized_money_with_symbol(booking.price)%></h5>
    </div>
    <div class="card-booking-buttons">
      <%= link_to 'CANCEL', '/', class:'btn btn-ghost-card-booking' %>
    </div>
    <% end %>
  </div>

</div>


