<div class="container">
  <p class="mt-3" style="text-align: center;">Hours</p>
  <%= simple_form_for @booking do |f| %>
  <%#= f.select(:service_id, Service.all.collect {|u| [u.name, u.id]}, :prompt => 'Select') %>
  <div class="d-flex text-center justify-content-center hours-wrap">
    <button id="js-minus-hours"><%= image_tag "icons8-minus-50.png", class: "minus-icon" %></i></button>
    <%= f.input :total_duration, label: false, input_html: { value: 2, class: "hours-input", min: 0} %>
    <button id="js-plus-hours"><%= image_tag "icons8-plus-50.png", class: "plus-icon" %></button>
  </div>
  <p style="margin: 0;">Pick services</p>

    <div class="cards-service">
      <% @services.each do |service| %>
      <div class="card-service">
        <div class="form-check">
          <input type="checkbox" hidden value="<%= service.id %>" name="booking[services][]" id="booking_services_<%= service.id %>">
          <div class="service">
            <label class=" service" for="booking_services_<%= service.id %>">
              <div class="services-icons" >
                <%= show_svg("#{service.name}.svg")%>
              </div>
              <p><%= service.name %></p>
            </label>

          </div>
        </div>
      </div>
      <% end %>

    </div>
    <br>
    <%= f.input :address%>

  <%#= f.input :date, as: :date, value: params[:date] %>

<input type="text" hidden value="<%= params[:date]%>" name="booking[date]">
  <div>
    <%= f.submit "BOOK", class:"btn btn-main btn-block"%>
  </div>
</div>
<% end %>
<br>
