<div class="container">

<!-- While request is pending -->
<% if @booking.status == "pending" %>
<div class="container text-center">
    <h1 class="title">Request pending</h1>
    <div>
      <%= image_tag "Scene Whiteboard.png", class: "image_request_pending" %>
    </div>
    <div>
      <%= image_tag "hourglass icon.png", class: "icon_request_pending" %>
    </div>
    <div>
      <h3 class="subtitle">Waiting for available cleaner</h3>
    </div>
    <div class ="customer_support">
      <p>Customer support</p>
      <p>Visit Help Center - Contact HANDMAID</p>
    </div>
    <%= link_to "SEE MY BOOKINGS", bookings_path, class: "btn btn-main btn-block" %>
    <%= link_to "CANCEL", root_path, class: "btn btn-main-ghost btn-block" %>
    <br>


<!-- When cleaner acceptes request  -->
<% else %>

<div class="banner-booking-show" style="background-image: url(<%= image_path 'user-dashboard-bg.png' %>);">
  <h1> Order summary</h1>
</div>
<% if @booking.payment_status %>
 <ul class="list-inline">
    <li><i class="fas fa-info-circle"></i> Booking ref. # <%= @booking.id %></li>
    <li>Your cleaner will be <strong><%= @booking.cleaner.first_name %></strong></li>
    <li>Date: <%= @booking.date %></li>
    <li>Duration: <%= minute_to_hours(@booking.total_duration)%></li>
    <li>Location: <%= @booking.address %></li>
    <% if @booking.status %>
    <li>Status: Confirmed <i class="fas fa-lock-open"></i></li>
    <% else %>
    <li>Status: Pending <i class="fas fa-lock"></i></li>
    <% end %>
  </ul>
<% else %>
<% end %>

  <ul class="list-inline">
    <li><i class="fas fa-info-circle"></i> Booking ref. # <%= @booking.id %></li>
    <li>Your cleaner will be <strong><%= @booking.cleaner.first_name %></strong></li>
    <li>Date: <%= @booking.date %></li>
    <li>Duration: <%= minute_to_hours(@booking.total_duration)%></li>
    <li>Location: <%= @booking.address %></li>
    <% if @booking.status %>
    <li>Status: Confirmed <i class="fas fa-lock-open"></i></li>
    <% else %>
    <li>Status: Pending <i class="fas fa-lock"></i></li>
    <% end %>
  </ul>
<%= link_to 'PAY', "/", class:"btn btn-primary-purple btn-block" %>
<% end %>
</div>
