<div class="navbar-handmaid">
  <p class="navbar-handmaid-logo"><%= link_to 'HANDMAID', root_path %></p>

<!-- Navbar when user is signed in -->
  <div class="navbar-right-content">
    <ul class="list-inline">
      <li class="list-inline-item dropdown">
        <%= image_tag "menu.png", class: "avatar-square dropdown-toggle", data: { toggle: "dropdown" } %>
        <% if user_signed_in? %>
        <div class="dropdown-menu dropdown-menu-right">
<<<<<<< HEAD
          <% if current_registration.user_type == "Client" %>
            <%= link_to 'My Bookings', bookings_path, class: "dropdown-item" %>
              <% elsif current_registration.user_type == "Cleaner" %>
            <%= link_to 'My Bookings', cleaners_bookings_path, class: "dropdown-item" %>
          <% end %>
=======
          <%= link_to "Register as client", new_registration_registration_path(user_type: "Client"), class: "dropdown-item" %>
          <%= link_to "Register as cleaner", new_registration_registration_path(user_type: "Cleaner"), class: "dropdown-item" %>
>>>>>>> 7ee21e671f6b0a7f61f2822a06f2ae7eec1c8e2d
          <%= link_to 'Log out', destroy_registration_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to 'Log in', new_registration_session_path, class: "dropdown-item" %>
          <%= link_to "Sign up as client", new_registration_registration_path(user_type: "Client"), class: "dropdown-item" %>
          <%= link_to "Sign up as cleaner", new_registration_registration_path(user_type: "Cleaner"), class: "dropdown-item" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
